/* head模块的样式 */
#head {
height: 137px;
background-color: white;
border-bottom: 1px solid rgb(208,217,209);
}
/* logo样式 */
.webLogo {
margin-top: -8px;
float: left;
width: 160px;
height: 160px;
margin-left: 151px;
}
/* input输入框样式 */
#search {
position: relative;
margin-left:80px;
margin-top: 38px;
float: left;
width: 468px;
height:34px;
background: none;
outline: none;
border: 2px solid rgb(45, 71, 62);
font-size: 13px;
color: gray;
padding-left: 8px;
}
/* 搜索框样式 */
.seimg_span {
margin-top: 38px;
float: left;
width: 70px;
height: 38px;
background-color:rgb(45, 71, 62);
}
/* 搜索框的iconfont样式 */
.search_img {
margin:10px 25px;
width:20px;
height:20px;
background-color:rgb(45, 71, 62);
}
/* 我的购物车div样式 */
.shop_car {
margin: 40px 80px;
float: left;
width: 140px;
height:45px;
border: 1px solid lightgray;
border-radius: 8px;
}
/* 购物车iconfont */
.img_shop_car {
float: left;
width: 28px;
height: 28px;
padding-top: 8px;
padding-left: 16px;
}
/* 我的购物车a链接 */
.shop-car-text {
font-size: 14px;
float: left;
padding:12px 8px;
}
/* 我的购物车链接鼠标悬停效果 */
.shop-car-text:hover {    
color: rgb(223,89,0);
}
/* 热门搜索样式 */
.hot_search {
position: absolute;
width: 478px;
left: 400px;
top: 112px;
}
/* 热门搜索的第一个 */
.hot_search a:first-child {  
color: rgb(223,89,0);
}
/* 热门搜索第一个链接的鼠标悬停效果 */
.hot_search a:hover {
color: rgb(223,89,0);
}
/* 热门搜索的a链接 */
.hot_search a {
float: left;
bottom: 20px;
left: 100px;
padding-right: 5px;  
color: gray;
}

/* 左侧菜单加图片轮播 */
#middle {
    box-sizing: border-box;
    width: 100%;
    height: 660px;
    padding-left: 130px;
}
/* 左侧菜单div */
.mi_left {
    position: absolute;
    background-color: white;
    width: 230px;
    margin-top: 15px;
    float: left;
}
/* 左侧菜单h3标题 */
h3 {
    background-color: teal;
    text-align: center;
    padding: 8px;
    color: white;
}
/* 左侧菜单小div */
.fenlei {
    width: 230px;
    height: 100px;
    padding-top: 15px;
    border-bottom: 1px solid lightgray;
}
/* 左侧菜单最后一个小div */
.fenlei:last-child {
    border-bottom: none;
}
/* 左侧小标题 */
.fenl_a {
    padding-left: 16px;
    font-size: 15px;
}

/* 左侧小标题 */
.fenl_a:hover {
    color: rgb(223,89,0);
}
.fenl_a:hover>i {
    color: rgb(223,89,0);
}
/* 左侧小标题里的iconfont */
.fenl_a i {
    float: right;
    color: gray;
    margin-right: 10px;
}
/* 左侧小标题ul */
.feninfo {
    width: 230px;
    margin-left: 15px;
    margin-top: 8px;
}
/* 左侧菜单li */
.feninfo li {
    float: left;
    padding: 0 10px;
    margin-top: 8px;
    border-right: 1px solid lightgray;
}
/* 左侧列表鼠标悬停 */
.feninfo li>a:hover {
    color: rgb(223,89,0);
}
/* 右侧轮播div */
.mi_right {
    box-sizing: border-box;
    width: 1000px;
    height: 620px;
}
/* 右侧悬浮菜单 */
.menu_ul li {
  position: relative;
  width: 38px;
  height: 38px;
  line-height: 19px;
  font-size: 14px;
  color: #333;
  padding: 10px;
  margin-top: 1px;
  text-align: center;
  /* -webkit-transition: color .2s ease;
  transition: color .2s ease; */
  background: #fff;
  z-index: 1;
}
/* 右侧悬浮菜单 */
#menuList {
    position: fixed;
    left: 1340px;
    top: 180px;
    width: 100px;
    z-index: 1;
}
/* 右侧悬浮菜单的li鼠标悬停效果 */
.menu_ul li:hover {
  background-color: rgb(201,33,24);
  color: white;
}